*.~*
*.#*

*.~pas
*.~dfm
*.~fmx
*.~inc
*.~dpr
*.~dpk
*.~dproj
*.dcu
*.exe
*.dll
*.bpl
*.so
*.dylib
*.pdb
*.il
*.chm
*.hlp
*.~test*
*.log
*.stat
*.tvsconfig
*.dsk
*.dof
*.cfg
*.res
*.tmp
*.temp
*.bak
*.dsk
*.local
*.identcache
*.projdata
*.tvsconfig

# Pastas de histórico (em qualquer nível)
__history/
__recovery/
**/__history/
**/__recovery/

# Pasta .qodo (em qualquer nível)
.qodo/
**/.qodo/

# Outros arquivos temporários
Thumbs.db
.DS_Store

# Pastas de build e output
Win32/
Win64/
Debug/
Release/
Output/
Results/

# Arquivos de cache do WebView2/Edge
EdgeCustomCache/
**/EdgeCustomCache/
WVCustomCache/
**/WVCustomCache/
CustomCache/
**/CustomCache/

modules/